body {
  background-image: url("../images/gridme.png");
  background-repeat: repeat;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

#header {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  background-image: url("../images/gridme.png");
  background-repeat: repeat;
  position: fixed;
  display: block;
  clear: both;
}

#animal-form {
  margin-top: 5px;
}

#container {
  margin-left: 50px;
  margin-right: 50px;
}

#spacer {
    width: 100%;
    height: 195px;
}

.btn {
  margin-right: 7.5px;
  margin-top: 7.5px;
  background-color: #e97735;
  color: white;
}

.btn-default:hover{
  color: green;
  background-color: #fffa5a;
}

.btn-default:focus{
  color: green;
  background-color: #fffa5a;
}

#gifs {
  margin-bottom: 40px;
}

.gif {
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
}

#loadBtn {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 40px;
}
