body {
  background-image: url("../images/giftly.png");
  background-repeat: repeat;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  letter-spacing: 1px;
}

#header {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  background-image: url("../images/giftly.png");
  background-repeat: repeat;
  display: block;
  clear: both;
  top: 0;
}

#clickSearch h4 {
  margin-left: -15px;
}

h4 {
  font-size: 25px;
}

.form-control {
  font-size: 20px;
}

#animal-form {
    margin-top: 15px;
}


#spacer {
    width: 100%;
    margin-left: 35px;
}

.btn {
  margin-right: 7.5px;
  margin-top: 7.5px;
  background-color: #e97735;
  color: white;
  font-size: 20px;
}

.btn-default:hover{
  color: white;
  background-color: #00919e;
}

.btn-default:focus{
  color: white;
  background-color: #00919e;
}

.btn-default:active:focus{
  color: black;
  background-color: yellow ;
}

#gifs {
  margin-bottom: 40px;
  margin-left: 35px;
}

.gif {
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
}

#loadBtn {
  margin-bottom: 40px;
  margin-right: 5px;
}

.loadBtn:hover{
  color: white;
  background-color: #00919e;
  margin-right: 5px;
  display: flex;
  justify-content: center;
}

#loadBtn:focus {
  background-color: #e97735;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  outline : none;
  margin-right: 5px;
}

#loadBtn:active:focus {
  color: black;
  background-color: yellow ;
  margin-right: 5px;
  display: flex;
  justify-content: center;
}

#loadMore button {
  width: 115px;
  text-align: center;
}

#loadMore {
  display: flex;
  justify-content: center;
  margin-left: 35px;
}

#back-to-top {
  display: flex;;
  margin-bottom: 40px;
}
